* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


body {
    /* background-color: #A0A603;
    background-color: #025959;
    background-color: #04ADBF;
    background-color: #04BFBF; */
    background-color: #f2e0c993;
}

.container {
    max-width: 1064px;
    /* height: 100vh; */
    margin: 0 auto;
    background-color: #fff;
}



.titleGeneral h1 {
    padding: 10px 0px;
    color: #025959;
}


/* criando o Header */
header {
    background-color: #04BFBF;
    box-shadow: 0px 0px 4px #000;
    border-bottom: 3px solid #025959;
    height: 130px;

    /* Flexbox */
    display: flex;
    align-items: center;

}

header img {
    width: 100px;
    margin: 0px 15px;
}

header h2 {
    font-size: 25px;
    color: white;

    /* aumentar a fonte para maiuscula */
    text-transform: uppercase;
}

/* MENU DO SITE */

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0259591c;

    box-shadow: 0px 0px 4px #000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu li {
    /*  espaçamento interno */
    padding: 18px;
    list-style-type: none;

}

.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 18px;
}


.menu li a:hover {
    border-radius: 8px;
    text-shadow: 0px 0px 1px #000000;
    text-decoration: underline;
}

/* BANNER */
.banner {
    text-align: center;
    /* max-width: 1064px; */
    border-radius: 15px;
    height: 250px;
    margin: 20px 0px;
    overflow: hidden;
}

.banner img {
    border-radius: 15px;
}

/* Content HOME */
.content-box {
    display: flex;
    justify-content: space-around;
}

.box {
    max-width: 300px;
    border: 1px solid #4681D6;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 20px 20px 20px;
    box-shadow: 0px 0px 4px #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.box p {
    padding: 10px;
    color: #0000009f;
    line-height: 1.5;
}

.box img {
    /* max-width: 270px; */
    margin: 10px 0px;
    border-bottom: 1px solid #4681D6;
}

.box a {
    padding: 0 0 10px 10px;
    display: block;
    color: #000;

    /* Negrito */
    font-weight: bold;
}

.box a:hover {
    text-decoration: underline;
}

.promocao {
    display: flex;
    justify-content: center;
}

.promocao img {
    max-width: 800px;
    height: 180px;
    border-radius: 15px;
    height: 250px;
    margin: 20px 0px;
    /* corta imagem */
    overflow: hidden;
}

.novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #04BFBF;
    margin-top: 32px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.novidades span {
    font-size: 150px;
}

.novidades article {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.novidades form input {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    text-align: center;
    padding: 10px;
}

.novidades form {
    width: 100%;
}

.novidades form button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    background: transparent;
    box-shadow: 0px 0px 4px #000;
    border: none;
}

footer {
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p {
    color: #969696;
}


/* Pagina Sobre */
.spaceSobre,
.spaceContato {
    margin: 20px 0px 20px 0;
    margin: 20px auto;
    /* background-color: #4681D6; */
    max-width: 900px;

}


.contentSobre {

    margin-left: 10px;
}


.containerLista {



    margin-left: 30px;
    margin-bottom: 30px;
}

.containerLista details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.containerLista article {
    margin-top: 8px;
    color: #4681D6;

}


.conteudo-sobre-st {

    padding: 16px;
    max-width: 600px;



}

.conteudo-sobre-st p {

    text-align: justify;
    line-height: 1.5;
    color: #6b6969;

}

.diferencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;


}

.diferencial ul li {
    margin: 10px 0px 10px 45px;
    color: #6b6969;

}

.diferencial h3 {
    color: #025959;
}

.nossa-visao {
    display: flex;
    align-items: center;
    height: 250px;
    border-radius: 50px;
    border-left: 10px solid #04BFBF;
    margin-bottom: 30px;

}

.nossa-visao p {
    font-size: 15px;
    max-width: 450px;
}

.olho_pg_s img {
    width: 150px;
    border-radius: 100%;
    border: 10px solid #04BFBF;
}

/* 
.visão {
    background-color: rgb(80, 226, 43);
} */

.div_45g {
    display: flex;
    align-items: center;
    height: 150px;
}

.div_45g p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}



.destaque-sobre {
    display: flex;
    /* background-color: #025959; */
    /* height: 350px; */
    position: relative;

    margin: 100px 0px;
}


.desta-text-sobre-img {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    margin-top: 50px;

}

.destaque-sobre img {
    width: 900px;
    border-radius: 15px;
}

.desta-text-sobre-img h2 {
    color: #fff;
    font-size: 100px;
    /* margin-bottom: 150px; */
    margin-left: 200px;
    text-shadow: 0px 0px 4px #0000009d;
}

.desta-text-sobre-img h3 {
    color: #eeff00;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 4px #0000009d;
}

.desta-text-sobre-img h4 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    text-shadow: 0px 0px 4px #0000009d;
}


.desta-text-sobre-img a {
    background-color: #fffb00;
    font-size: 15px;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 100px;

}

.desta-text-sobre-img a:hover {
    box-shadow: 0px 0px 5px #00000063;



}

/* .desta-text-sobre-img p {
    color: rgb(255, 38, 0);
    font-size: 25px;
    text-align: justify;
} */

/* Página contato */
.text-contato {
    margin: 0px 0px 0px 20px;
    font-size: 42px;
}

.text-contato strong {
    color: #4681D6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    margin: 20px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group select {
    width: 100%;
    max-width: 300px;
    height: 30px;
    border-radius: 8px;
    background-color: #04bfbf67;

}

.form-group label {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.form-group input {
    width: 100%;
    max-width: 600px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border: 2px solid #bcbaba;
    border-radius: 7px;

}

.form-group-sexo {

    display: inline-block;
    margin-top: 10px;

}

legend {
    padding: 10px;
}

.form-group-info {
    margin: 20px 0px 20px 20px;

}

.form-control-padrao {

    width: 100%;
    max-width: 50px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border: 2px solid #bcbaba;
    border-radius: 7px;

}

.comentario {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border: 2px solid #bcbaba;
    outline: none;
    padding-left: 5px;
    border-radius: 7px;
    display: block;
    margin-top: 10px;
    padding-top: 5px;

}

.title {
    font-weight: bold;
    color: #025959;

}

.btn-enviar {
    background-color: #4D7ED3;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;


}