* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #A0A603;
    background-color: #025959;
    background-color: #04BFBF;
    background-color: #04ADBF;
    background-color: #F2E0C9;

}


.container {
    background-color: #04ADBF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px;
    font-size: 25px;
    box-shadow: 0px 0px 4px #000;
    color: #A0A603;
}


h1 {
    text-shadow: 0px 0px 4px #000;
}